@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  @apply text-blue-500 focus:outline-none focus:underline hover:underline;
}
body {
  @apply bg-gray-100;
}
h1 {
  @apply text-2xl font-bold mb-6 text-center;
}
h2 {
  @apply text-xl font-bold mb-4 text-center;
}
